[submodule "attachment"]
	path = attachment
	url = https://github.com/maiska/qubes-attachment
[submodule "_posts"]
	path = _posts
	url = https://github.com/maiska/qubes-posts
[submodule "_hcl"]
	path = _hcl
	url = https://github.com/maiska/qubes-hcl
[submodule "_qubes-translated"]
	path = _qubes-translated
	url = https://github.com/maiska/qubes-translated.git
[submodule "_doc"]
	path = _doc
	url = https://github.com/maiska/qubes-doc
