[submodule "_posts"]
	path = _posts
	url = https://github.com/maiska/qubes-posts.git
[submodule "_doc"]
	path = _doc
	url = https://github.com/maiska/qubes-doc.git
[submodule "_hcl"]
	path = _hcl
	url = https://github.com/maiska/qubes-hcl.git
[submodule "attachment"]
	path = attachment
	url = https://github.com/maiska/qubes-attachment.git
