[submodule "attachment"]
	path = qubes-attachment
	url = https://github.com/maiska/qubes-attachment
[submodule "_posts"]
	path = qubes-posts
	url = https://github.com/maiska/qubes-posts
[submodule "_doc"]
	path = qubes-doc
	url = https://github.com/maiska/qubes-doc
[submodule "_hcl"]
	path = qubes-hcl
	url = https://github.com/maiska/qubes-hcl
