{% assign doc_segments = page.relative_path | split: '/' %}
{% assign docs = site.data.doc | where: 'lang', page.lang %}
  {% if page.lang contains "en" %}
  	{% assign lang = "" %}
  {% else %}
  	{% assign lang = "/" | append: page.lang %}
  {% endif %}
{% for section in docs %}
  {% if doc_segments contains section.folder %}
    <h1 class="more-top add-left outer-heading">
	    <a href="{{lang}}/doc/#{{ section.category | slugify }}" class="heading-link">
        <i class="fa fa-book"></i>
          {{ section.category }}
      </a>
    </h1>
    {% if section.category == "External Documentation" %}
      {% include doc-external-warning.html %}
    {% endif %}
    {% if page.translated %}
      {% include doc-translated-warning.html %}
    {% endif %}
  {% endif %}
{% endfor %}
