{% if page.lang == nil or page.lang == "en" %}
        {% assign doc_content = site.data.includes %}
{% else %}
        {% assign doc_content = site.data.translation[page.lang].includes %}
        {% if doc_content == nil or doc_content.size == 0 %}
                {% assign doc_content = site.data.includes %}
        {% endif %}
{% endif %}

{% assign starter = doc_content | where_exp: "item", "item.section == 'getting-started'" | first %}
{% assign hw = starter.subsections[0]  %}
{% assign down = starter.subsections[1] %}
{% assign doc = starter.subsections[2] %}

<div class="row">
  <div class="col-lg-4 col-md-4">
	  <h2>{{ hw.title }}</h2>
	  <p>
	  {% for s in hw.snippets %}
        	{% if s.url != nil %}
                <a href="{{ s.url }}">{{ s.snippet }}</a>
        	{% else %}
                {{ s.snippet }}
        	{% endif %}
   	  {% endfor %}
	  </p>
	  <a href=" {{ hw.url }}" class="btn btn-primary">
		  <i class="fa fa-laptop"></i> {{ hw.text }}
    </a>
  </div>
  <div class="col-lg-4 col-md-4">
	  <h2>{{ down.title }}</h2>
	  <p>
	  {% for s in down.snippets %}
        	{% if s.url != nil %}
                <a href="{{ s.url }}">{{ s.snippet }}</a>
        	{% else %}
                {{ s.snippet }}
        	{% endif %}
         {% endfor %}
	</p>
	  <a href="{{ down.url }}" class="btn btn-primary">
	    <i class="fa fa-download"></i> {{ down.text }}
    </a>
  </div>
  <div class="col-lg-4 col-md-4">
	  <h2> {{ doc.title }}</h2>
	  <p>
	  {% for s in doc.snippets %}
        	{% if s.url != nil %}
                <a href="{{ s.url }}">{{ s.snippet }}</a>
        	{% else %}
                {{ s.snippet }}
        	{% endif %}
	  {% endfor %} </p>
	  <a href="{{ doc.url }}" class="btn btn-primary">
	    <i class="fa fa-book"></i> {{ doc.text }}
    </a>
  </div>
</div>
<hr class="more-top more-bottom">

