<!-- Fixed navbar -->
<nav class="navbar navbar-custom navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="page-link" href="/">
        <img src="/attachment/icons/128x128/apps/qubes-logo-icon.png" width="44" height="44" alt="Qubes OS Project">
        <span><strong>Qubes</strong> OS</span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav nav-justified">

        {% if page.layout==nil or page.collection == 'posts' %}
          <!-- no translation for news -->
          {% assign archies = site.data.architecture | where: 'lang', "en" %}
          {% for section in archies %}
            <li><a href="{{ section.url }}">{{ section.title }}</a></li>
          {% endfor %}
        {% else %}

          {% assign archies = site.data.architecture | where: 'lang', page.lang %}
          {% for section in archies %}
                <li><a href="{{ section.url }}">{{ section.title }}</a></li>
          {% endfor %}
          {% assign posts = site.pages | concat: site.doc | concat: site.qubes-translated | where:'ref', page.ref | sort: 'lang' %}
         <!--    size: {{posts.size}}, ref: {{page.ref}} -->
         <li>
           <div class="langdropdown">
             <span><img src="/attachment/icons/icons8-translation-64.png" width="44" height="44"> {{ page.lang }}</span>
             <div class="langdropdown-items">
               {% for post in posts %}
                 <p><a class="c1" href="{{post.url}}">{{post.lang}}</a></p>
               {% endfor %}
             </div>
           </div>
         </li>
        {% endif %} 
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
