{% if page.lang == nil or page.lang == "en" %}
        {% assign home = site.data.home %}
{% else %}
        {% assign home = site.data.translation[page.lang].home %}
        {% if home == nil or home.size == 0 %}
                {% assign home = site.data.home %}
        {% endif %}
{% endif %}


{% assign main = home | where_exp: "item", "item.htmlsection == 'main'" | first %}
{% assign experts = home | where_exp: "item", "item.htmlsection == 'experts'" | first %}
{% assign media = home | where_exp: "item", "item.htmlsection == 'media'" | first  %}
{% assign news = home | where_exp: "item", "item.htmlsection == 'news'" | first %}
{% assign tech = home | where_exp: "item", "item.htmlsection == 'technology'" | first %}
{% assign research = home | where_exp: "item", "item.htmlsection == 'research'" | first %}

{% assign awards = home | where_exp: "item", "item.htmlsection == 'awards'" | first %}
{% assign join = home | where_exp: "item", "item.htmlsection == 'join'" | first %}
{% assign help = home | where_exp: "item", "item.htmlsection == 'help'" | first %}

<!-- Featured Content -->
<div class="home-banner text-center more-bottom">
  <div class="container-fluid">
    <div class="row more-bottom">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <h1 class="add-top outer-heading">
          <strong>Qubes</strong> OS
	  <small>{{ main.subtitle }}</small>
        </h1>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row more-bottom">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <div class="home-big-button">
	<a class="btn btn-lg btn-primary btn-block" href="{{ main.download[0].url }}" role="button">
		  {{ main.download[0].text }}<br>
		  <small>{{ main.version }}</small>
          </a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>



<div class="home-content container">
  <!-- Experts -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
	    <h2 class="text-center outer-heading"><i class="fa fa-quote-left"></i> {{ experts.title }}</h2>
    </div>
  </div>
  <div class="white-box more-bottom">
    <div class="row featured-quotes">
    {% for item in experts.expert %}
      <div class="col-lg-1 col-md-1 text-center">
       <a class="avatar" href="{{ item.avatar}}" target="_blank">
         <img src="{{ item.img }}">
       </a>
      </div>
      <div class="col-lg-5 col-md-5">
	<a href="{{ item.tweet }}" target="_blank">
         <blockquote>{{ item.quote }}
            <i class="fa fa-twitter" aria-hidden="true"></i>
	    <footer>{{ item.name }}<cite>, {{ item.occupation }}</cite></footer>
         </blockquote>
        </a>
      </div>
    {% endfor %}
    </div>
    
    <div class="row featured-quotes add-bottom">
      <div class="col-lg-12 col-md-12 text-center">
	 <a class="btn btn-small btn-primary" href="{{ experts.more[0].url }}">{{ experts.more[0].text }}</a>
      </div>
    </div>
  </div>
  <hr>
  <!-- News -->
  <div class="row">
  <div class="col-lg-6 col-md-6 more-bottom">
   <h2 class="text-center outer-heading"><i class="fa fa-newspaper-o"></i> {{ media.title }}</h2>
    <div class="white-box">
      {% for item in media.media %}
      <div class="featured-quotes">	
        <a href="{{ item.article }}" target="_blank">
            <img src="{{ item.img }}" class="logo">
            <blockquote>
		    "{{ item.quote }}"
		    <footer>{{ item.author }}</footer>
            </blockquote>
        </a>
      </div>
      {% endfor %}
      <a href="{{ news.url }}" class="btn btn-sm btn-primary">{{ media.more }}</a>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 more-bottom">
   <h2 class="text-center outer-heading"><i class="fa fa-bullhorn"></i> {{ news.title }}</h2>
    <div class="white-box">
      <ul class="list-unstyled remove-bottom">
        {% for post in site.posts limit:7 %}
        <li class="list-links">
          <a class="black-link" href="{{ post.url }}">
            {{ post.title }}
            {% for category in post.categories %}
            {% if site.allowed_categories contains category %}
              <span class="detail"> Posted in {{ category | capitalize }} on {{ post.date | date: "%Y-%m-%d" }}</span>
            {% endif %}
            {% endfor %}
          </a>
        </li>
        {% endfor %}
        <li class="list-links-normal">
		<a href="{{ news.url }}" class="btn btn-sm btn-primary">{{ news.more }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
  <!-- Technology -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
	    <h2 class="text-center outer-heading"><i class="fa fa-cogs"></i>{{ tech.title }}</h2>
    </div>
  </div>

  <div class="white-box more-bottom">
    {% for item in tech.tech %}
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
	      <img src="{{ item.img }}" class="add-top">
      </div>
      <div class="col-lg-6 col-md-6">
	      <h3 class="text-center add-bottom">{{ item.title }}</h3>
	      <p>{{ item.text }} <a href="{{ item.url }}">{{ item.more }}</a></p>
      </div>
    </div>
    {% endfor %}
    <div class="clearfix"></div>
  </div>
  <hr>
  <!-- Details: Awards / Follow -->
  <div class="row">
    <div class="col-lg-6 col-md-6 more-bottom">
	    <h3 class="text-center"><i class="fa fa-file-text"></i> {{ research.title }}</h3>
      <div class="white-box">
      <ul class="list-unstyled remove-bottom">
        {% for paper in site.data.research.papers limit:6 %}
        <li class="list-links">
          <a class="black-link" href="{{research.url}}">
            {{paper.title}}
            <span class="detail"><strong>{{paper.author}}</strong>, {{paper.date}}</span>
          </a>
        </li>
        {% endfor %}
        <li class="list-links-normal">
		<a href="{{ research.more[0].url }}" class="btn btn-sm btn-primary">{{ research.more[0].text }}</a>
        </li>
      </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 more-bottom">
     <h3 class="text-center"><i class="fa fa-trophy"></i> {{ awards.title }}</h3>
      <div class="white-box">
      <ul class="list-unstyled remove-bottom">
      {% for item in awards.award %}
      <li class="list-links text-center">
	      <a href="{{ item.url }}" target="_blank">
		      <img src="{{ item.img }}" class="featured-logo center-block">
		      <span>{{ item.text }}</span>
        </a>
      </li>
      {% endfor %}
      </ul>
      </div>
    </div>
  </div>
  <hr>
  <!-- Details: Get Involved -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h2 class="text-center outer-heading"><i class="fa fa-comments"></i> {{ join.title }}</h2>
    </div>
  </div>
  <div class="white-box more-bottom">
    <div class="row">

      <div class="col-lg-12 col-md-12 text-center">
        <a title="GitHub" href="https://github.com/QubesOS" class="fa fa-github fa-5x fa-fw black-icon" aria-hidden="true"></a>
        <a title="Twitter" href="https://twitter.com/QubesOS" class="fa fa-twitter fa-5x fa-fw" aria-hidden="true"></a>
        <a title="Reddit" href="https://www.reddit.com/r/Qubes/" class="fa fa-reddit fa-5x fa-fw" aria-hidden="true"></a>
        <a title="Facebook" href="https://www.facebook.com/QubesOS" class="fa fa-facebook fa-5x fa-fw" aria-hidden="true"></a>
        <a title="LinkedIn" href="https://www.linkedin.com/company/qubes-os/" class="fa fa-linkedin fa-5x fa-fw" aria-hidden="true"></a>
	<a title="{{ help.text }}" href="{{ help.url }}" class="fa fa-life-ring fa-5x fa-fw black-icon" aria-hidden="true"></a>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>
