{% assign urlpathparts = page.url | split: "/" %}
{% assign currlangcode = urlpathparts[1] %}
{% assign officialpage = page.url %}
{% assign prefixtoremove = "/" | append: currlangcode %}
{% assign officialpage = officialpage | remove_first: prefixtoremove %}
<div class="alert alert-warning" role="alert">
  <i class="fa fa-exclamation-circle"></i>
  This page is an unverified translation.
  The Qubes OS Project cannot evaluate the accuracy of translations into languages that our team cannot read.
  You may want to visit <a href="{{ officialpage }}">the official version of this page</a>.
</div>
