<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      <div class="container">
        {% include doc-heading.html %}
	<!-- TODO doc-content -->

	<div class="more-bottom white-box page-content">
	{% if page.lang == nil or page.lang == "en" %}
        	{% assign doc_content = site.data.includes %}
		{% assign lang = "" %}
	{% else %}
		{% assign lang = "/" | append: page.lang %}
        	{% assign doc_content = site.data.translation[page.lang].includes %}
        	{% if doc_content == nil or doc_content.size == 0 %}
                	{% assign doc_content = site.data.includes %}
	        {% endif %}
	{% endif %}

	{% assign docs = doc_content | where_exp: "item", "item.section == 'doc-content'" | first %}

  	<div class="row">
    	 <div class="col-md-3">
      	  <div class="page-source-side remove-bottom">
	      <h3 class="remove-bottom">Contents</h3>
      	  </div>
      	  <a id="toc-button" data-toggle="collapse" href="#page-toc" class="btn btn-primary btn-block" role="button"> Contents </a>
      	  <div id="page-toc" class="collapse in"></div>
      	  <div class="page-source-side">
      		{% include doc-widget.html %}
          </div>
         </div>
         <div class="toc-button-spacer more-bottom"></div>
    	 <div class="col-xs-12 col-md-9 page-content-right">
      	 <article id="doc-content" class="post-content">

	      <!-- BEGIN CONTENT-->
	     	{% assign indexed_original = site.data.index %}
			{% if page.lang == nil or page.lang == "en" %}
				{% assign indexed = site.data.index %}
			{% else %}
		        {% assign indexed = site.data.translation[page.lang].index %}
		        {% if indexed == nil or indexed.size == 0 %}
                		{% assign indexed = site.data.index %}
		        {% endif %}
			{% endif %} 

			{% assign ind = indexed | where_exp: "item", "item.topic == nil" %}
			{% assign ind_o = indexed_original | where_exp: "item", "item.topic == nil" %}
			{% assign topic = indexed | where_exp: "item", "item.topic != nil" | first %}
			<h1 id="qubes-os-documentation">{{ topic.topic }}</h1>
			<p> {{ topic.subtopic }}</p>
		  		{% for item in ind %}

	<h2 id="{{ item.title | downcase | replace: " ", "-" | replace: ",",""}}">{{ item.title }}</h2>
	{% if item.subtitle %}
   		<p> {{ item.subtitle }} </p>
    {% endif %}

	<!-- TODO do not forget the headers + smth fishy with subpages fixe it! -->
	{% assign subpages = item.sub-pages | where_exp: "item", "item.title ==nil" %}
	{% assign subpages2 = item.sub-pages | where_exp: "item", "item.title !=nil" %}
	<ul>
	{% for sub in subpages %} 
    	{% if sub.url contains lang %}
        	{% assign u = sub.url %}
       	{% else %}
			{% assign u = lang  | append: sub.url %}
       	{% endif %}
 
    	{% assign s = site.doc | concat: site.qubes-translated | where: 'permalink', u| first %}
    	{% if s %} 
	     	<li> <a href="{{ s.url }}">{{ s.title }}</a></li>
	    {% else %}
            <li> <a href="{{ sub.url }}">{{ sub.text }}</a></li>   
    	{% endif %}

	{% endfor %}

	{% for sub2 in subpages2 %} 
		{% if sub2.url == nil %}
			<h3 id="{{ sub2.title | downcase | replace: " ", "-" | replace: ",",""}}">{{ sub2.title }}</h3>
		{% else %}
		<ul>
			<li><a href="{{ sub2.url }}">{{ sub2.title }}</a></li>
		</ul>
		{% endif %}
		{% assign subpages3 = sub2.sub-pages  %}
		<ul>
       		{% for sub3 in subpages3 %} 

       			{% if sub3.url contains lang %}
       				{% assign u3 = sub3.url %}
       			{% else %}
       				{% assign u3 = lang  | append: sub3.url %}
       			{% endif %}

       			{% assign s3 = site.doc | concat: site.qubes-translated | where: 'permalink', u3| first %}
       			{% if s3 %}
	     			<li> <a href="{{ s3.url }}">{{ s3.title }}</a></li>
       			{% elsif sub3.title != nil %}
	     			<li> <a href="{{ sub3.url }}">{{ sub3.title }}</a></li>
       			{% endif %}
			{% endfor %}
		</ul>
	{% endfor %}
	</ul>
	{% endfor %}
	      <!-- END CONTENT-->
      </article>
    <br>
    </div>
  </div>
  <div class="page-source-bottom">
  {% include doc-widget.html %}
  </div>
</div>
{% include footer.html %}
<script src="/js/jquery.toc.js"></script>
<script>
$(document).ready(function() {
  $('#doc-content').toc({
    renderIn: '#page-toc',
    anchorPrefix: 'tocAnchor-', // the default prefix used for generated TOC elements IDs
    showAlways: true, //Show TOC also if only one H1 is present on page, the TOC is never show if no H1s are found on page
    saveShowStatus: false, // Save the collapse status using a cookie (see dependecies for further details)
    contentsText: 'Contents', // The label text shown for Content, you can localize passing another string
    hideText: 'hide', // The label text shown for hide button, you can localize passing another string
    showText: 'show' // The label text shown for show button, you can localize passing another string
  })
})
</script>
<script src="/js/anchor.min.js"></script>
<script>
  anchors.add();
</script>
</div>
</body>
</html>
