<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      {% if page.lang == nil or page.lang == "en" %}
        {% assign teamed = site.data.teamtexts %}
{% else %}
        {% assign teamed = site.data.translation[page.lang].teamtexts %}
        {% if teamed == nil or teamed.size == 0 %}
                {% assign teamed = site.data.teamtexts %}
        {% endif %}
{% endif %}

{% assign coreteam = teamed | where_exp: "item", "item.htmlsection == 'core-team'" | first %}
{% assign joined = teamed | where_exp: "item", "item.htmlsection == 'join'" | first %}
{% assign upperlinks = teamed | where_exp: "item", "item.htmlsection == 'upperlinks'" | first  %}
{% assign emeritus = teamed | where_exp: "item", "item.htmlsection == 'emeritus'" | first %}
{% assign community = teamed | where_exp: "item", "item.htmlsection == 'community'" | first %}

      
	{% if page.lang == nil or page.lang == "en" %}
		{% assign lang = "" %}
	{% else %}
		{% assign lang = "/" | append: page.lang %}
	{% endif %}  


        {% assign support_link = lang | append: "/support/" %}
	{% assign supports = site.doc | concat: site.qubes-translated | where:'permalink', support_link %}
        {% if supports.size == 0 %}
                {% assign support_link = "/support/" %}
        {% endif %}

	{% assign doc_rb_link = "/doc/reporting-bugs/" | prepend: lang %}
	{% assign d_rb = site.doc | concat: site.qubes-translated |  where: "permalink", doc_rb_link %}
        {% if d_rb.size == 0 %}
                {% assign doc_rb_link = "/doc/reporting-bugs/" %}
        {% endif %}

        {% assign security_link = lang | append: "/security/" %}
        {% assign securities = site.doc | concat: site.qubes-translated | where:'permalink', security_link %}
        {% if securities.size == 0 %}
                {% assign security_link = "/security/" %}
        {% endif %}

        {% assign join_link = lang | append: "/join/" %}
	{% assign joins = site.doc | concat: site.qubes-translated | where:'permalink', join_link %}
        {% if joins.size == 0 %}
                {% assign join_link = "/join/" %}
        {% endif %}

        {% assign partners_link = lang | append: "/partners/" %}
	{% assign partners = site.pages | concat: site.qubes-translated | where:'permalink', partners_link %}
        {% if partners.size == 0 %}
                {% assign partners_link = "/partners/" %}
        {% endif %}

	{% assign team_link = lang | append: "/team/" %}
	{% assign teams = site.pages | concat: site.qubes-translated | where:'permalink', team_link %}
        {% if teams.size == 0 %}
                {% assign team_link = "/team/" %}
        {% endif %}


        {% assign hw_link = lang | append: "/hardware-certification/" %}
	{% assign hw = site.doc | concat: site.qubes-translated | where:'permalink', hw_link %}
        {% if hw.size == 0 %}
                {% assign hw_link = "/hardware-certification/" %}
        {% endif %}

    <div class="container">
        <div class="row more-top more-bottom">
          <div class="col-xs-12 col-sm-4">
            <h1 class="add-left outer-heading">
               <a href="{{ team_link }}" class="heading-link">
              <i class="fa fa-users" aria-hidden="true"></i>
              {{ page.title }}
            </h1>
          </div>
          <div class="col-lg-3 col-md-3 add-left">
            <ul class="list-unstyled">
		    <li><a href="{{ upperlinks.security[0].url }}"><i class="fa fa-lock fa-fw black-icon"></i> {{ upperlinks.security[0].text }}</a></li>
		    <li><a href="{{ upperlinks.bug[0].url }}"><i class="fa fa-bug fa-fw black-icon"></i> {{ upperlinks.bug[0].text }}</a></li>
		    <li><a href="{{ upperlinks.help[0].url }}"><i class="fa fa-life-ring fa-fw black-icon"></i> {{ upperlinks.help[0].text }}</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <ul class="list-unstyled">
                <li><a href="mailto:press@qubes-os.org" class="black-link"><i class="fa fa-newspaper-o fa-fw"></i> {{ upperlinks.press[0].text }}</a></li>
                <li><a href="mailto:business@qubes-os.org" class="black-link"><i class="fa fa-briefcase fa-fw"></i> {{ upperlinks.biz[0].text }}</a></li>
                <li><a href="{{ upperlinks.partner[0].url }}" class="black-link"><i class="fa fa-globe fa-fw"></i> {{ upperlinks.partner[0].text }}</a></li>
            </ul>
           </div>
        </div>

<!-- previous content -->


<div id="team-core" class="white-box page-content ">
  <div class="col-lg-12 col-md-12 col-sm-12">
	  <h2 id="core-team" class="text-center more-bottom"> {{ coreteam.title }}</h2>
  </div>

    {% for team in site.data.team %}
    {% if team.type == "core" %}
      <div class="row team team-core" id="{{ team.name | slugify }}">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center add-bottom">
          <div class="picture">
            {% if team.picture %}
            <a href="{{ team_link }}/#{{ team.name | slugify }}">
              <img src="/attachment/site/{{team.picture}}"
                   title="Picture of {{ team.name }}">
            </a>
            {% else %}
            <i class="fa fa-user"></i>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12 team-info">
          {% assign name_array = team.name | split:" " %}
          <a href="{{ team_link }}/#{{ team.name | slugify }}">
          <h4 class="remove-bottom">
            {{ team.name }}
          </h4>
          </a>
          <em class="role half-bottom">{{ team.role }}</em>
          {% if team.fingerprint %}
          <a href="http://keys.gnupg.net/pks/lookup?search=0x{{ team.fingerprint | remove: ' ' }}&fingerprint=on&exact=on&op=get&options=mr"
             title="Download PGP public key" class="black-link add-right">
            <i class="fa fa-fw fa-lock"></i>PGP Key
          </a>
          {% endif %}
          {% if team.email %}
          <a href="mailto:{{team.email}}" class="black-link add-right"
             title="Email">
            <i class="fa fa-fw fa-envelope"></i>{{ coreteam.email }}
          </a>
          {% endif %}
          {% if team.github %}
          <a href="https://github.com/{{team.github}}" target="blank"
             class="black-link add-right" title="GitHub">
            <i class="fa fa-fw fa-github"></i>GitHub
          </a>
          {% endif %}
          {% if team.website %}
          <a href="{{team.website}}" target="blank" class="black-link"
             title="Website">
				  <i class="fa fa-fw fa-globe"></i>{{ coreteam.website }}
          </a>
          {% endif %}
        </div>
        {% if team.fingerprint %}
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 more-bottom fingerprint"
             title="{{ team.name }}'s PGP fingerprint">
          {{ team.fingerprint }}
        </div>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}

<!-- Hidden when not actively hiring
  <div class="text-center more-bottom">
	  <a href="{{ joined.url}}" class="btn btn-primary"><i class="fa fa-user-plus fa-fw white-icon"></i>{{ joined.title }}</a>
  </div>
-->
</div>

<div class="page-content more-bottom">
  <div class="col-lg-12">
    <h2 id="emeritus" class="text-center more-bottom">{{ emeritus.title }}</h2>
    <p>
      {{ emeritus.text }}
    </p>
  </div>
  {% for team in site.data.team %}
    {% if team.type == "emeritus" %}
    {% assign name_array = team.name | split:" " %}
    <div class="row team">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {% include team-simple.html %}
      </div>
      {% if team.fingerprint %}
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 more-bottom fingerprint">
        {{ team.fingerprint }}
      </div>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
</div>

<div class="page-content more-bottom">
  <div class="col-lg-12">
	  <h2 id="community-contributors" class="text-center more-bottom"> 
        {{ community.title }}
      </h2>
	  <p> 
        {{ community.text }} <a href="{{ support_link }}"> {{ community.mail }}</a>.
      </p>
  </div>
  {% for team in site.data.team %}
    {% if team.type == "community" %}
    {% assign name_array = team.name | split:" " %}
    <div class="row team">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {% include team-simple.html %}
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
        {% if team.fingerprint %}
        <span class="fingerprint" title="{{team.name}}'s PGP Key Fingerprint">{{team.fingerprint}}</span>
        {% endif %}
        {% if team.pgp_key %}
        <a href="{{team.pgp_key}}"><i class="fa fa-lock fa-fw black-icon"></i>{{name_array[0]}}'s PGP Key</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

        {{ content }}


        {% include footer.html %}
 </div>
</body>
</html>
